.App {
  text-align: center;
  font-family: Helvetica, sans-serif;
  background: #cde6d0;
  margin: 0;
}

.header {
  background-color: #1d1f20;
  color: gold;
  text-align: center;
  margin: 0;
  padding: 15px;
  font-size: 20px;
  letter-spacing: 5px;
}

.winner-row {
  height: 10px;
  text-align: center;
  font-size: 20px;
}

.player {
  display: flex;
  flex-wrap: wrap;
}

.console-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  position: relative;
  background-color: #f6f6f6;
  height: 200px;
  width: 150px;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 30px;
  display: flex;
  box-shadow: 0px 3px 5px -3px black;
}

span.reverse {
  right: 20px;
  bottom: 20px;
  position: absolute;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

.card.first-card {
  background-color: lightblue;
  box-shadow: inset 0px 0px 140px #9298e4;
  -webkit-box-shadow: inset 0px 0px 140px #9298e4;
  -moz-box-shadow: inset 0px 0px 140px #9298e4;
  -o-box-shadow: inset 0px 0px 140px #9298e4;
}

.Hearts, .Diamonds {
  color: red;
}

.Hearts:after {
  content: " \2665";
}

.Diamonds:after {
  content: " \2666";
}

.Spades:after {
  content: " \2660";
}

.Clubs:after {
  content: " \2663";
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
